/* ## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)
 */
body{background-color: hsl(0, 0%, 95%);}
html{font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
font-size: 80%;
}

.card{width:80%;
      height: inherit%;
      }
.card img {margin-left: 12%;
           padding-top: 10%;
           padding-bottom: }
.text{max-width: 75%;
      max-height: inherit;
      opacity: 85%;
      color:hsla(0, 0%, 100%, 0.75);
      margin-left: 15%;
      margin-right: 15%;
      line-height: 150%;}
.text h1{color: hsl(0, 0%, 95%);
        padding-bottom: 8%;}


.card.sedan{background-color: hsl(31, 77%, 52%);}
.card.suv{background-color: hsl(184, 100%, 22%)}
.card.luxury{background-color: hsl(179, 100%, 13%)}

button{ display: inline-block;
        padding: 3% 6%;
	      border-radius: 25px;
         border-color: white;
         margin-left: 25%;
         margin-right: auto;
         }
.sedan button{color:hsl(31, 77%, 52%);}
.suv button{color:hsl(184,100%,22%)}
.luxury button{color:hsl(179,100%,13%)}
.button{padding-bottom: 10%;
        padding-top: 2%;
        }

/* mobile */
@media screen and  (max-width:480px){
   .card{width: 90%;
         height: 95%;
         margin-left: 7%;
         margin-right: auto;}
    .text{padding-bottom: 5%;}
}


/* mid tablet */
@media screen and  (min-width:480px) and (max-width:820px){

  .master{display: flex;
          flex-direction: row;
         max-width: 95%;
         max-height: inherit;
         margin-top: 10%;
         margin-bottom: auto;
         margin-left: 6%;
         margin-right: auto;
         }
   .card{width: 90%;
         height: 40%;}
   .card.sedan{border-top-left-radius: 3%;
               border-bottom-left-radius: 3%;}

   .card.luxury{border-top-right-radius: 3%;
               border-bottom-right-radius: 3%;}
            .text{max-width: 80%;}
}

/* desktop */
@media screen and  (min-width:820px){

       .master{display: flex;
               flex-direction: row;
              max-width: 65%;
              max-height: inherit;
              margin-top: 10%;
              margin-bottom: auto;
              margin-left: 15%;
              margin-right: auto;
              }
        .card.sedan{border-top-left-radius: 3%;
                    border-bottom-left-radius: 3%;}

        .card.luxury{border-top-right-radius: 3%;
                    border-bottom-right-radius: 3%;}

}
